<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
        <tr *ngFor="let s of series">
          <td>
            <dd>{{s.id}}</dd>
          </td>
          <td>
            <dd>{{s.name}}</dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <th>
            <dd>{{s.seasons}}</dd>
          </th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <dd>Seasons average: {{promedio(series)}}</dd>
  </div>
</div>